@media screen and (min-width: 980px){
    .wrapper-small{
        max-width: 950px;
    }
}
@media screen and (min-width: 768px){
    .my-row{
        margin-right: -10px;
        margin-left: -10px;
    }
    .my-col{
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 767px){
    .register-main{
        padding-top: 40px;
    }
    .register-main form{
        margin-top: 40px;
    }
    .register-main a.btn-blue{
        margin-top: 10px;
    }
}
@media screen and (max-width: 560px){

}





